body{
    padding: 0;
    margin: 0;
}

#background {
    background-image: url('../../assets/wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    right: 0;
}

.well.well-lg {
    position: relative;
    margin: 25vh 0 0 20px;
    background:rgba(255, 255, 255, 0.4);
}

webview{
    width: 100%;
    height: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100vh;
}

.flex-item {
    height: 100%;
}

.login-form {
    -webkit-flex: 2;
    flex: 2;
    max-width: 400px;
}

.distraction {
    -webkit-flex: 4;
    flex: 4;
}
